<!DOCTYPE html>
<html>
<head>
  <title>Vue App</title>
</head>
<body>
  <div id="app" >
    <h1>{{ message }}</h1>
    <input v-model="message" placeholder="Type something" />
    <button @click="changeText">Click to Change</button>
    <button @click=" alerts">Click me</button>
    <!-- <input v-model="newMessage" @keyup.enter="message = newMessage"/> -->
  </div>
  <div id="counter">
    <h2>Counter: {{ count }}</h2>
    <button @click="count++">Increment</button>
    <button @click="increment">+ </button>
  </div>

  <div id="form">
    <p>Hello, {{ name }}</p>
    <input v-model="name" placeholder="Enter your name">
    
  </div>

  <div id="todoo">
    <h2>All Tasks</h2>
    <ul>
        <li v-for="(task, index) in todos">
            <span @click="toggleTask(task)" 
                :style = "{textDecoration: task.completed ? 'line-through' : ''}"
            >{{task.title}} - {{index}} </span>

            <!-- <span v-if="task.completed">Completed</span> -->
            <button @click="deleteTask(task)">Delete</button>

        </li>
        <input v-model="newMessage" type ="text">
        <button @click="addTask">Add Task</button>
    </ul>
    <h2>Complete Task</h2>
    <ul>
        <li v-for="task in completeTask">{{task.title}}</li>
    </ul>
    <h2> Incomplete Task</h2>
    <ul>
        <li v-for="task in incompleteTask">{{task.title}}</li>
    </ul>
  </div>
  <div v-bind:class="{ active: isActive }"></div>
  
<div id="app1">
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
  </div>

  

  <!-- Vue 2 CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- Your JS File -->
  <script src="first.js"></script>
</body>
</html>
